@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #173a5a;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  touch-action: manipulation;
}

button {
  width: 120px;
  height: 120px;
  font-size: 56px;
  background-color: #91b0b3;
}

.secondBackground{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 220px;
  width: 540px;
  height: 870px;
  background-color: #6f685d;
  border-radius: 15px;  
}

.calc {
  width: 480px;
  height: 800px;
  padding: 18px;
  padding-bottom: 24px;
  background-color: #edf0ef;
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
}

.display {
  width: 480px;
  height: 120px;
  font-size: 68px;
  background-color: #E6C229;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-bottom: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.displaySmall {
  width: 480px;
  height: 60px;
  font-size: 32px;
  background-color: #fe6c55;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: solid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.displaysContainer{
 outline: solid; 
 border-top-left-radius: 25px;
 border-top-right-radius: 25px;

 border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
}

.top {
  margin-top: 12px;
  display: flex;
}

.middle {
  display: flex;
}

.bottom {
  display: flex;
}

.left {
  height: 360px;
  display: flex;
  flex-wrap: wrap;
}

.top #clear {
  border-top-left-radius: 25px;
}

.top #mult {
  border-top-right-radius: 25px;
}

.bottom #num0 {
  border-bottom-left-radius: 25px;
}

.right #sum {
  border-bottom-right-radius: 25px;
}

.bottom #num0 {
  width: 240px;
}

.right #sum {
  height: 240px;
}

.operator {
  background-color: #212e42;
  color: #F0EDEE;
}

.operator:hover {
  background-color: #3c5479;
}

.left button:hover {
  background-color: #e1e1e1;
}