* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #173a5a;
  font-family: Verdana ,Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  touch-action: manipulation;
}

button {
  width: 120px;
  height: 120px;
  font-size: 56px;
  background-color: #d7dbca;
  border-radius: 12px;
}

.calc {
  margin-top: 220px;
  width: 480px;
  height: 800px;
  padding: 18px;
  padding-bottom: 24px;
  background-color: #F0EDEE;
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
}

.display {
  width: 480px;
  height: 120px;
  font-size: 68px;
  background-color: #E6C229;
  display: flex;
  align-items: end;
  justify-content: end;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-bottom: 10px;
}

.displaySmall {
  width: 480px;
  height: 60px;
  font-size: 32px;
  background-color: #fe6c55;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: solid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.displaysContainer{
 outline: solid; 
 border-top-left-radius: 25px;
 border-top-right-radius: 25px;

 border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
}

.buttonsContainer{
  outline: solid;
  border-radius: 10px;
  background-color: #100e0b;
}

.top {
  margin-top: 12px;
  display: flex;
  border-radius: 10px;
  background-color: #100e0b;
}

.middle {
  display: flex;
}

.left {
  height: 360px;
  display: flex;
  flex-wrap: wrap;
}

.bottom {
  display: flex;
}

.bottom #num0 {
  width: 240px;
}

.right button {
  height: 240px;
}

.operator {
  background-color: #243754;
  color: #F0EDEE;
}

.operator:hover {
  background-color: #3c5479;
}

.left button:hover {
  background-color: #85887b;
}